$topBarBgColor: #5B605F;
$topBarTextColor: #4a4a49;
$columnsTextColor: #4a4a49;
$buttonsBgColor: #FF6600;
$hoverTextColor: #FF6600;
$newsletterBgColor: #5B605F;

$aboutImageBgColor: #4a4a49;
$aboutBgColor: #EBEBEB;
// Do zrobienia - kolory app
// #FFFFFA - kolor tła ekranów
// #3498DB - kolor wiadomości typu info,
// #FFB03B - kolor wiadomości typu warning
// #468966 - kolor wiadomości typu success
// #BD4932 - kolor ikony kosza
// #A1A194 - kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji