$topBarBgColor: #5B605F;
$topBarTextColor: #4a4a49;
$columnsTextColor: #4a4a49;
$buttonsBgColor: #FF6600;
$hoverTextColor: #FF6600;
$contactBgColor: #5B605F;
$contactTextColor: #FBFBF6;
$footerBgColor: #4a4a49;
$footerTextColor: #FBFBF6;
$footerLinkTextColor: #FF6600;
$newsletterBgColor: #5B605F;

$aboutImageBgColor: #4a4a49;
$aboutBgColor: #EBEBEB;

$hoverTextColor: #FF6600;
$placeholderColor: #CECECE;
$dashboardTextColor: #5B605F;
$avatarColor: #FF6600;

// Kolory pulpitu
$pulpitBgColor: #FFFFFA;
// Kolory dotyczące widgetów i przycisków w planie
$widgetButtonRecipeTextColor: #468966;
$widgetButtonRecipeBorderColor: #468966;
$widgetButtonRecipeBgColor: #FFFFFA;
$widgetButtonPlanTextColor: #468966;
$widgetButtonPlanBorderColor: #468966;
$widgetButtonPlanBgColor: #FFFFFA;
$widgetDivisionsRecipesTextColor: #3498DB;
$widgetDivisionsRecipesBorderColor: #3498DB;
$widgetDivisionsBgColor:#FFFFFA;
$widgetDivisionsPlanTextColor:#FFB03B;
$widgetDivisionsPlanBorderColor:#FFB03B;
$widgetDivisionsEnjoyTextColor: #468966;
$widgetDivisionsEnjoyBroderColor: #468966;

// Kolory dotyczące tabeli
$weekplanTablenameTextColor: #FF6600;
$weekplanTableBgColor: #FFFFFA;
$weekplanTableBorderColor: #A1A194;
$weekplanTableDaysTextColor: #5B605F;
$weekplanTableMealsTextColor: #A1A194;
$weekplanButtonsTextColor:#FF6600;
// Do zrobienia - kolory app
// #FFFFFA - kolor tła ekranów
// #3498DB - kolor wiadomości typu info,
// #FFB03B - kolor wiadomości typu warning
// #468966 - kolor wiadomości typu success
// #BD4932 - kolor ikony kosza
// #A1A194 - kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji