.first_entry {

    background-color: #FFFFFA;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 15vw;
    color: $dashboardTextColor;

    & * {
        margin-bottom: 30px;
    }

    h2 {
        font-size: 44px;
        margin-top: 50px;
    }

    p {
        width: 80%;
        font-size: 30px;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input[type=text] {
            width: 450px;
            height: 40px;
            font-size: 24px;
            padding: 5px;

            &::placeholder {
                color: $placeholderColor;
                font-size: 18px;
            }

            &:focus {
                outline: none;
                border: 1px solid $buttonsBgColor;
            }
        }

        button {
            background-color: $buttonsBgColor;
            width: 40%;
            padding: 10px 20px;
            border: none;
            font-size: 26px;
            color: white;
            cursor: pointer;
        }

    }

}