.container {
    display: flex;
}

.main_section {
    width: 80%;
    background-image: url('https://trello-attachments.s3.amazonaws.com/5eb936243fdc9b66cbec4bf8/5eb936253fdc9b66cbec4c6a/500x500/7e2f36982d7836cc93b7f02ed1f950e0/image.png');
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}