.main_section {
    .recipes {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        justify-self: flex-start;
        align-self: flex-start;
        background-color: $recipeTableBgColor;

        .recipes--header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px 40px;
            border-bottom: 3px solid $recipesListHeaderBorderColor;

            span {
                color: $recipesListHeaderTextColor;
                font-size: 24px;
                font-weight: 700;
            }

            .recipes-add_recipe {
                font-size: 30px;
                color: green;
            }
        }

        .recipes--table {
            width: 100%;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;

            tr {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: stretch;
                table-layout: fixed;

                &.recipes--table_header {
                    border-bottom: 1px solid $weekplanTableBorderColor;
                    border-top: 1px solid $weekplanTableBorderColor;
                }

                th {
                    font-size: 24px;
                    font-weight: 700;
                    color: $weekplanTableDaysTextColor;
                    text-align: left;

                    &:nth-of-type(1) {
                        width: 10%;
                    }

                    &:nth-of-type(2) {
                        width: 30%;
                    }

                    &:nth-of-type(3) {
                        width: 50%;
                    }

                    &:nth-of-type(4) {
                        width: 10%;
                    }
                }

                td {
                    font-size: 14px;
                    font-weight: 400;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: $weekplanTableDaysTextColor;
                    border-bottom: 1px solid $weekplanTableBorderColor;
                    text-align: left;
                    word-wrap: break-word;

                    &:nth-of-type(1) {
                        width: 10%;
                    }

                    &:nth-of-type(2) {
                        width: 30%;
                    }

                    &:nth-of-type(3) {
                        width: 50%;
                    }

                    &:nth-of-type(4) {
                        width: 10%;
                    }
                }
            }
        }
    }
}