.cta {
    background-color: $columnsTextColor;
    width: 1440px;
    margin: 0 auto;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 130px;

    .text {
        width: 70%;

        h3 {
            font-size: 36px;
            padding-bottom: 30px;
            font-weight: normal;
        }

        p {
            font-size: 24px;
        }
    }

    a {
        background-color: $buttonsBgColor;
        padding: 15px 40px;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

}